{% extends 'membership/base.html' %}
{% block content %}
{% include 'membership/navbar.html' %}
<div class="container mt-4">
  {% for message in messages %}
    <div class="alert alert-success">
      {{message}}
    </div>

  {% endfor %}
  <div id="latest" class="carousel slide" data-rise="carousel">
    
    <div class="carousel-inner">
      {% for movie in movies|slice:":3" %}
        {% if forloop.first %}
          <div class="carousel-item active">
        {% else %}
          <div class="carousel-item">    
        {% endif %}
            <a href="{% url 'movie_view' movie.id %}">
              <img src="{{movie.thumbnail.url}}" class="d-block w-100" height="286" width="180">
            </a>  
            
        </div> 
        
      {% endfor %}
    </div>
  </a>
    <a class="carousel-control-prev" href="#latest" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#latest" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>


<hr>
  {% for type in movie_category %}
    <div class="alert alert-dark">
      <h3><a href="{% url 'category' type %}">{{type}}</a></h3>
    </div>
    <div class="row">
      {% for movie in movies|slice:":5" %}
        {% if movie.category == type %}
          <div class="card col-lg-3">
            <div class="card-body">
              <a href="{% url 'movie_view' movie.id %}">
              <img src="{{movie.thumbnail.url}}" height="286" width="180">
              </a>
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text"><strong>Subscription: </strong>{{movie.allowed_memberships}}</p>
            </div>
          </div>
        {% endif %}

      {% endfor %}
    </div>
<hr>
  {% endfor %}
  
</div>


{% endblock %}