{% extends 'membership/base.html' %}
{% block content %}
{% include 'membership/navbar.html' %}
{% load static %}
    <div class="container mt-4">
        <div class="row no-gutters">
            <div class="col-md-4  ml-3">
              <video controls width="300" height="200" poster="{{movie.thumbnail.url}}">
                <source src="{{movie.video_url}}" type="video/mp4">
                  Your browser does not support this video tag.

              </video>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{movie.title|title}}</h5>
                <p class="card-text"><strong>Imdb:</strong>{{movie.imdb}}</p>
                <p class="card-text"><strong>Category:</strong>{{movie.category}}</p>
                <p class="card-text">{{movie.description}}</p>
                
              </div>
            </div>
          </div>

    </div>
{% endblock %}