<style>
    .hello-user{
      font-size: 15px;
      color: aliceblue;
      margin-right: 20px;
    }
  </style>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Popcorn Time</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          {%  if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'buy_subs' %}">Plans</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="entered">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        
      </div>
      {% if user.is_authenticated %}
      
      <span class="hello-user">Hello {{request.user.first_name|title}}</span>
      <span><a class="hello-user" href="{% url 'logout' %}">Logout</a></span>
      
      {% else %}
    <span><a class="hello-user" href="{% url 'login' %}">Login</a></span>
    <span><a class="hello-user" href="{% url 'register' %}">SignUp</a></span>
    {% endif %}
    </nav>